.DeathScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.DeathScreen h1 {
    color: red;
}

.MenuButton {
    font-size: 1.5rem;
    color: red;
}

.Score {
    color: aliceblue;
    font-size: 2rem;
}